<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script>
        document.addEventListener('DOMContentLoaded', function (){
            var formData = new FormData();
            formData.append("name", "Rashmika");
           var input = document.querySelector('input');
            input.addEventListener('change', function(){
                var file = this.files[0];
                var xhr = new XMLHttpRequest();
                xhr.open('post', '/upload');
                formData.append('image', file);
                xhr.send(formData);
            });
        });
    </script>
</head>
<body>
<form action="/upload" method="post">
    <input type="file" multiple />
    <!--<input type="submit" />-->
</form>
</body>
</html>